.formContainer {
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 70%;
    margin: 1em auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
}

.formContainer label {
    font-weight: 500;
}

.formTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #59485b;
    text-transform: uppercase;
}



.formGridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGrid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em 12em !important;
    width: 90%;
    margin-top: 20px;
}

.formGrid3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: .5em 5em;
    width: 90%;
    margin-top: 20px;
}

.passwordSection {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
}

.changePasswordButton {
    background-color: #694a6d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.notChangePasswordButton {
    background-color: #694a6d;
    color: rgb(126, 124, 124);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: auto;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.passwordFields {
    width: 100%;
}


.passwordContainer {
    position: relative;

}

.eyeIcon {
    color: #694a6d;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

}

.eyeIcon:hover {
    color: #5c3e56;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.input:focus {
    border-color: #694a6d;
    background-color: #f2eadf;
    outline: none;
}



.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
}

.labelPhoto {
    width: 120px;
    height: 160px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #f5f5f5;
}

.labelPhoto:hover {
    background-color: #5c3e56;
}

.imagePreview {
    width: 130px;
    height: 130px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #f5f5f5;
}

.imagePreview img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.imagePreview p {
    font-size: 12px;
    color: #666;
    text-align: center;
}



.hiddenInput {
    width: 100%;
    /* Asegura que cubre todo el contenedor */
    height: 100%;
    /* Asegura que cubre todo el contenedor */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.genresContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: nowrap;
}

.toggleButton {
    display: flex;

    align-items: center;
    font-family: "Poppins", serif;
    text-align: center;
    background-color: #694a6d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.toggleButton:hover {
    background-color: #5c3e56;
}



.checkboxGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.checkboxColumn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas */
    gap: 15px;
    /* Espacio entre columnas */
    margin-top: 10px;
    width: 100%;
}

.checkbox {
    margin-right: 8px;
}

.checkboxGroup label {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.checkboxGroup label input {
    margin-right: 5px;
}

.error {
    color: #694a6d;
    font-size: 14px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem;
}

.editButton,
.submitButton,
.cancelButton {
    background-color: #694a6d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.editButton:hover,
.submitButton:hover,
.cancelButton:hover {
    background-color: #5c3e56;
}

.cancelButton {
    background-color: #ccc;
    color: #333;
}

.cancelButton:hover {
    background-color: #bbb;
}

.link {
    text-align: center;
    margin-top: 1rem;
}

.link a {
    color: #694a6d;
    text-decoration: none;
}

.link a:hover {
    color: #5c3e56;
    text-decoration: underline;
}

.successModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.successContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.successContent button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #694a6d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 1650px) {
    .formContainer {
        width: 100%;
        max-width: 90%;
    }
}

@media (max-width: 1100px) {

    /* Ajuste de contenedor principal */
    .formContainer {
        max-width: 90%;
        /* Reducir el tamaño para pantallas medianas */
        padding: 1.5rem;
    }

    /* Ajustar el tamaño del título */
    .formTitle {
        font-size: 1.3rem;
    }

    /* Ajustar las columnas de la cuadrícula */
    .formGrid2 {
        grid-template-columns: 1fr;
        /* Cambiar a una sola columna */
        gap: 1em;
    }

    .formGrid3 {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    /* Ajuste de los botones */
    .submitButton,
    .toggleButton {
        width: 100%;
    }

    /* Ajustes para los contenedores de género */
    .genresContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Ajustar los inputs y campos de formulario */
    .input {
        font-size: 0.9rem;
    }

    .photoContainer {
        flex-direction: column;

    }

    .labelPhoto {
        width: 80%;
        text-align: center;
        margin-top: 10px;
    }

    .checkboxGroup {
        width: 100%;
    }

    .checkboxColumn {
        grid-template-columns: 1fr;
        gap: 10px;
    }

}

@media (max-width: 768px) {

    .formContainer {
        max-width: 90%;
        padding: 1rem;
    }

    .formTitle {
        font-size: 1.2rem;
    }

    .formGrid2 {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .formGrid3 {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .genresContainer {
        flex-direction: column;
        align-items: flex-start;
    }



    .submitButton {
        width: 100%;
    }

    .toggleButton {
        width: 100%;
    }
}

@media (max-width: 480px) {

    /* Para pantallas muy pequeñas como teléfonos */
    .formContainer {
        max-width: 90%;
        padding: 1rem;
    }

    .formTitle {
        font-size: 1rem;
    }

    .formGrid2,
    .formGrid3 {
        grid-template-columns: 1fr;
        /* Una sola columna */
        gap: 1em;
    }

    .submitButton {
        width: 100%;
    }

    .toggleButton {
        width: 100%;
    }
}