.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #f2eadf;
    width: 100%;
}

.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
}

.topRow {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.menuIcon {
    cursor: pointer;
    margin: 0 !important;
    font-size: 2em;
    color: #59485b;
    transition: transform 0.2s ease-in-out;
}

.menuIcon:hover {
    color: #5c3e56;
    transform: scale(1.05);
}


.logoContainer {
    display: flex;
    align-items: center;
    margin: 0;
}

.iconLogo {
    display: flex;
    align-items: center;
    margin: 0;
    height: 9em;
}

.iconLogo img {
    height: 12em;
}

.navbar h1 {
    margin: 0;
    font-family: "Poppins", serif;
    width: 20rem;
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
    color: #59485b;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar h1>a:hover {
    color: #5c3e56;
}

.searchContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
}

.searchBar {
    padding: 0.5rem;
    width: 50rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.searchBar:focus {
    border: 2px solid #59485b;
    outline: none;
}

.bottomRow {
    display: flex;
    justify-content: flex-end;
    /* Por defecto, enlaces y carrito van al final */
    align-items: center;
    gap: 1rem;
    width: 25%;
    padding-right: 1em;
}

.menuIcon,
.searchBar {
    margin: 0 1em;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: #59485b;
    font-weight: 600;
}

.navLinks a,
.navLinks p {
    margin: 0 10px;
}

.navLinks a {
    cursor: pointer;
}

.navLinks a:hover {
    color: #5c3e56;
}

.userPhoto {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid rgb(89, 72, 91); 

}

.myaccountDropdown {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.myaccountDropdown:hover {
    color: #5c3e56;
}

.overlayMenuAccount {
    font-family: "Poppins", serif;
    position: fixed;
    width: 15%;
    max-height: 0;
    background-color: white;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(89, 72, 91); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;
    opacity: 0;
    overflow: hidden;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease, max-height 0.5s ease;
    z-index: 1000;
}

.overlayMenuAccount.open {
    opacity: 1;
    transform: translateY(0);
    max-height: 500px;
    overflow: visible;
}

.overlayMenuAccount ul {
    list-style: none;
    padding: 0;
}

.overlayMenuAccount li {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.overlayMenuAccount li:hover {
    background-color: #f2eadf;
}

.overlayMenuAccount li p:hover {
    background-color: #f2eadf;
}

.cartIcon {
    position: relative;
    display: inline-block;
    font-size: 2em;
    color: #59485b;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
}

.cartIcon:hover {
    transform: scale(1.05);
}

.cartIcon span {
    position: absolute;
    top: -8px;
    right: -13px;
    color: #59485b;
    font-size: 0.6em;
    font-weight: 700;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;

}

.cartIcon:hover,
.cartIcon span:hover {
    color: #5c3e56;
}



.overlayMenu ul {
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 20%;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 10px;
    transform: translateY(0);
    transition: transform 0.3s ease;
}


.overlayMenu li {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.overlayMenu li:hover {
    background-color: #f2eadf;
}

.overlayMenu li p:hover {
    background-color: #f2eadf;
}



.submenu {
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    border-left: 2px solid #ccc;
    display: none;
}

.submenu p {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9rem;
}


.submenu p:hover {
    background-color: #f2eadf;
    border: 2px solid #59485b;
}

.accountActive {
    background-color: #f2eadf;
}

/* Mostrar el submenú cuando isAccountOpen está activo */
.overlayMenu li.accountActive .submenu {
    display: block;
}

@media (max-width: 1650px) {

    .navbar {
        padding-left: 1.3em;
    }

    .navbar nav {
        justify-content: center;
    }



    .menuIcon {
        font-size: 1.8em;
    }

    .iconLogo img {
        max-width: 150px;
    }

    .navbar h1 {
        width: 100%;
        padding: 0;
        font-size: 1.5em;
        margin-left: 10px;
    }

    .searchBar {
        font-size: 0.9rem;
        width: 100%;
    }

    .navbar nav .bottomRow {
        gap: .5em;
        width: 30%;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navLinks a,
    .navLinks p {
        font-size: 0.9rem;
        margin: 0 0.625em !important;
    }
    .overlayMenuAccount{
        width: 25%;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding-left: 0;
        height: auto;
    }

    .navbar nav {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 1em;
    }

    .topRow {
        padding: 0px 20px;
        height: 130px;
    }


    .menuIcon {
        font-size: 1.7em;
        margin: 0;
    }

    .searchBar {
        width: 100%;
    }

    .bottomRow {
        width: 100% !important;
        padding-bottom: 10px;
    }

    .navLinks {
        margin: 0;
        margin-left: 3em;
        justify-content: flex-start;
    }
    .userPhoto {
        width: 50px;
        height: 50px;
    }
    .overlayMenuAccount{
        width: 30%;
    }

    .cartIcon {
        font-size: 1.7em;
        margin-right: 2em;
    }

    .overlayMenu ul {
        width: 35%;
    }

    .overlayMenu li {
        margin: 5px 0;
        padding: 15px;
    }

    .submenu {
        border-left: none;
        background-color: white;
    }

    .submenu li {
        padding: 10px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {

    .navbar h1 {
        font-size: 1.2em;
    }

    .iconLogo {
        height: 0;
        max-width: 0px;
    }

    .searchBar {
        width: 100%;
        font-size: 0.9rem;
    }

    .navLinks a,
    .navLinks p {
        font-size: 0.8rem;
        margin: 5px 0;
    }
    .overlayMenuAccount{
        width: 60%;
    }
    .menuIcon,
    .cartIcon {
        font-size: 1.5em;
    }

    .overlayMenu ul {
        width: 45%;
    }

    .overlayMenu li {
        padding: 10px;
        font-size: 0.9rem;
    }

    .submenu li {
        padding: 8px;
        font-size: 0.8rem;
    }

}