.container {
    display: flex;
    position: relative;
    max-width: 90rem;
    margin: 2.5rem auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 3em;
    width: 95%;
    justify-content: center;
}

.container a {
    position: absolute;
    /* Posiciona el enlace de manera absoluta */
    top: 10px;
    /* Arriba */
    left: 10px;
    padding-bottom: 1em;
}

.imageContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    max-width: 25%;
}


.image {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
}

.details {
    flex: 2;
    display: flex;
    flex-direction: row;
    gap: 3em;

}

.details1 {
    width: 70%;
}

.details2 {
    display: flex;
    flex-direction: column;
    align-items: center
}

.details p {
    margin: 0;

}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.author {
    font-size: 18px;
    color: #555;
}

.isbn {
    color: #555;
    font-size: 14px;
}

.price {
    font-size: 2.5em;
    font-weight: bold;
    color: #694a6d;
    margin: .5em 0 !important;
}

.description {
    font-size: 15px;
    line-height: 1.5;
    color: #444;
    margin-top: 15px !important;
    white-space: pre-line;
}

.ratings {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.stars {
    color: #f5c518;
    /* Color dorado tipo estrella */
    font-size: 20px;
}

.ratingText {
    font-size: 18px;
    font-weight: bold;
}

.button {
    padding: 15px 50px;
    background-color: #694a6d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5c3e56;
}

.like {
    margin-top: 1em !important;
}
/* (pantallas menores a 1650px) */
@media (max-width: 1650px) {
    .container {
        margin: 2.5rem auto;
        width: 80%;
        max-width: 75rem;
    }

}

/* Tablets (pantallas menores a 1024px) */
@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 2em;
        padding: 15px;
    }

    .imageContainer {
        max-width: 50%;
        align-items: center;

    }

    .details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .details1,
    .details2 {
        width: 100%;
    }

    .price {
        font-size: 2em;
    }
}

/* Móviles (pantallas menores a 768px) */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .imageContainer {
        max-width: 80%;
    }

    .details {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1em;
    }

    .title {
        font-size: 20px;
    }

    .author {
        font-size: 16px;
    }

    .price {
        font-size: 1.8em;
    }

    .button {
        padding: 10px 30px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .imageContainer {
        align-items: flex-end;
    }
}