.container {
    font-family: "Poppins", serif;
    max-width: 50%;
    margin: 1em auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Contenedor Principal */
.titleContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5em;
}

/* Contenedor de la imagen del libro */
.imageContainer {
    width: 140px;
    height: 200px;
    overflow: hidden;
    border: 2px solid #694a6d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estrellas */
.ratingContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
    color: #694a6d;
}

/* Iconos del rating */
.ratingContainer svg {
    cursor: pointer;
    font-size: 22px;
    transition: transform 0.2s ease-in-out;
    margin: 0 !important;
}

.ratingContainer svg:hover {
    transform: scale(1.2);
}

.titleContainerInfo {
    width: 70%;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #694a6d;
    margin: 0;
}


/* Formulario */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form label {
    font-weight: bold;
    color: #444;
}

/* Estilo para inputs */
.form input,
.form textarea,
.form select {
    font-family: "Poppins", serif;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form input:focus,
.form select:focus {
    border-color: #694a6d;
    background-color: #f2eadf;
    outline: none;
}

/* Sección de progreso de lectura */
.bookProgressInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
}

.ratingAndDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5em;
}

/* Ratings */
.ratings {
    width: 100%;
    background-color: #f8f6f4;
    border: 3px solid #f2eadf;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.ratings div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratings div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.ratings div div svg {
    cursor: pointer;
    font-size: 20px;
    color: #694a6d;
    transition: transform 0.2s ease-in-out;
    margin: 0 !important;
}

.ratings div div svg:hover {
    transform: scale(1.2);
}

/* Formato y Tipo */
.formatType {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.formatType div {
    flex: 1;
}

.submitButton {
    font-family: "Poppins", serif;
    background-color: #694a6d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: .5rem;
    width: 100%;
    transition: background-color 0.3s ease;
    display: block;

}

.submitButton:hover {
    background-color: #5c3e56;
}



.successModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.successContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.successContent button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #694a6d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* Media Queries */
@media (max-width: 1493px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 829px) {
    .container {
        max-width: 90%;
    }

    .titleContainer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .titleContainerInfo {
        width: 100%;
    }

    .bookProgressInfo div {
        justify-items: baseline;
    }

    .ratingAndDetails {
        flex-direction: column;
        align-items: center;
    }

    .ratings {
        /* grid-template-columns: 1fr; */
        width: 70%;
    }
}