.checkoutContainer {
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 80%;
    margin: 1em auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
}

.checkoutContent {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: space-between;
    width: 100%;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.4;
}

.form input,
.form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitBtn {

    background-color: #694a6d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.submitBtn:hover {
    background-color: #5c3e56;
}

.orderSummary {
    border-radius: 5px;
    flex: 0.6;
    align-self: flex-start;
}

.orderItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribuye elementos */
    width: 100%;
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.orderItem p {
    font-size: 13px;
    color: #777;
    margin: 2px 0;
}

.cartImage {
    width: 100px;
    height: 100px;
    object-fit: contain;
    min-width: 100px;
    max-height: 100%;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    /* Permite que tome el espacio restante */
    margin-left: 10px;
    /* Ajusta la separación con la imagen */
}

.cartInfo h4 {
    margin: 0;
}

.price {
    font-size: 18px !important;
    font-weight: bold;
    color: #666 !important;
}

.quantityControls {
    display: flex;
    align-items: center;
}

.quantityBtn {
    background: #eee;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    color: #694a6d;
}

.quantity {
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
}

.cartActions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    /* Asegura que los botones se alineen a la derecha */
    margin-left: auto;
    /* Empuja el div hacia la derecha */
}

.removeBtn {
    background: #694a6d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.favButton {
    background: #694a6d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.removeBtn:hover,
.favButton:hover {
    background: #5c3e56;
}

.backToCartBtn {
    background-color: #ccc;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.successModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.successContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.successContent button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #694a6d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


/* @media (max-width: 1024px) {
    .orderSummary ul {
        width: 100%;
    }

} */

@media (max-width: 768px) {
    .checkoutContent {
        flex-direction: column-reverse;
        gap: 0;
    }

    .form {
        width: 100%;
    }

    .orderSummary {
        width: 100%;
    }

    .orderItem {
        font-size: 14px;
    }

    .submitBtn {
        padding: 12px;
    }

    .backToCartBtn {
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .checkoutContainer {
        padding: 1rem;
    }

    .form input,
    .form select {
        padding: 8px;
    }

    .orderSummary ul {
        padding: 0;
    }

    .submitBtn {
        padding: 12px;
    }

    .backToCartBtn {
        padding: 12px;
    }
}