.overlayCart {
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 0 1.2em 1.2em;
    margin: 0;
    position: absolute;
    /* Se posiciona en relación al contenedor .navbar */
    top: 100%;
    /* Empieza justo debajo del contenedor */
    right: 0;
    width: 25%;
    background-color: white;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.cartContainer {
    padding: 1.25em;
    
}

.cartContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.cartItems {
    max-height: 60vh;
    overflow-y: auto;
}


.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.itemInfo {
    flex: 1;
}

.itemName {
    font-weight: bold;
}

.itemPrice {
    color: #666;
}

.itemControls {
    display: flex;
    align-items: center;
}

.quantityButton {
    background-color: #f2eadf;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
}

.quantityButton:hover {
    background-color: #e6ded3;
}

.quantity {
    font-weight: bold;
    padding: 0 5px;
}

.removeButton {
    background-color: #694a6d;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.removeButton:hover {
    background-color: #5c3e56;
}

.cartTotal {
    margin-top: 15px;
    text-align: right;
}

.cartTotal h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.payButtonWrapper{
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: 20px; /* Espacio superior */
}
.payButton{
    font-family: "Poppins", serif;
    background-color: #694a6d;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    width: 90%;
}
.payButton:hover{
    background-color: #5c3e56;
}

@media (max-width: 1650px) {
    .overlayCart {
        width: 40%;

    }
}

@media (max-width: 768px) {
    .overlayCart {
        width: 50%;
    }

    .cartContainer h2 {
        font-size: 1.25rem;
    }

    .cartItems {
        max-height: 60vh;
    }
   
    .quantityButton {
        padding: 4px;
        margin: 0 3px;
    }

    .removeButton {
        padding: 4px 8px;
    }

    .cartTotal h3 {
        font-size: 1rem;
    }

}

@media (max-width: 480px) {
    .overlayCart {
        width: 100%; 
    }

    .cartContainer h2 {
        font-size: 1rem; 
    }

    .cartTotal h3 {
        font-size: 0.9rem; 
    }
}