.cart {
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 .5em 1.2em 1.2em;
    margin: 0;
    position: absolute;
    /* Se posiciona en relación al contenedor .navbar */
    top: 100%;
    /* Empieza justo debajo del contenedor */
    right: 0;
    width: 25%;
    height: 80vh;
    background-color: white;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.emptyCart {
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 .5em 1.2em 1.2em;
    margin: 0;
    position: absolute;
    /* Se posiciona en relación al contenedor .navbar */
    top: 100%;
    /* Empieza justo debajo del contenedor */
    right: 0;
    width: 25%;
    background-color: white;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.cart h2 {
    color: #59485b;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.emptyCart p {
    color: #59485b;
    text-align: center;
    font-weight: 500;

}

.cartList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 70vh;
    overflow-y: auto;
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;

}

.cartImage {
    width: 100px;
    height: 100px;
    object-fit: contain;
    min-width: 100px;
    max-height: 100%;
}

.cartInfo {
    flex-grow: 1;
    padding: 0 10px;
}

.cartInfo h3 {
    font-size: 15px;
    margin: 0;
    color: #444;
}

.cartInfo p {
    font-size: 12px;
    color: #777;
    margin: 2px 0;
}

.price {
    font-weight: bold;
    color: #666;
}

.quantityControls {
    display: flex;
    align-items: center;
}

.quantityBtn {
    background: #eee;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    color: #694a6d;
}

.quantity {
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
}

.cartActions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.removeBtn {
    background: #694a6d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.favButton {
    background: #694a6d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.removeBtn:hover,
.favButton:hover {
    background: #5c3e56;
}

.total {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}


.checkoutBtn {
    font-family: "Poppins", serif;
    text-transform: uppercase;
    font-weight: 600;
    width: 90%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    background: #694a6d;
    color: white;
    margin: 1em;

}

.checkoutBtn:hover {
    background: #5c3e56;
}

@media (max-width: 1650px) {
    .cart {
        width: 40%;
        padding-right: 1.5em;

    }
}

@media (max-width: 768px) {

    .cart,
    .emptyCart {
        width: 60%;
        /* En pantallas pequeñas, el carrito será más grande */
        height: auto;
        max-height: 80vh;

    }

    .checkoutBtn {
        position: relative;
        /* Para evitar que el botón quede fijo en la parte inferior */
        margin-bottom: 10px;
    }

}

@media (max-width: 480px) {

    .cart,
    .emptyCart {
        width: 100%;
        margin-left: 1em;
        padding: 0;
        height: auto;
    }

    .cartList {
        overflow: auto;
        width: 100%;


    }

    .checkoutBtn {
        margin: 1em auto;
    }

}